<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <title>提交信息</title>
    <!-- Favicon -->
    <link rel="icon" href="images/favicon.png" type="image/png" sizes="32x32" th:href="@{/images/favicon.png}">
    <!-- All CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" href="css/aos.min.css" th:href="@{/css/aos.min.css}">
    <link rel="stylesheet" href="css/fontawesome-all.min.css" th:href="@{/css/fontawesome-all.min.css}">
    <link rel="stylesheet" href="css/magnific.min.css" th:href="@{/css/magnific.min.css}">
    <link rel="stylesheet" href="css/owl.carousel.min.css" th:href="@{/css/owl.carousel.min.css}">
    <link rel="stylesheet" href="css/select2.min.css" th:href="@{/css/select2.min.css}">
    <link rel="stylesheet" href="css/slimmenu.min.css" th:href="@{/css/slimmenu.min.css}">
    <link rel="stylesheet" href="css/style.css" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="css/layui.css" th:href="@{/css/layui.css}"/>
    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <style type="text/css">
    	 input{margin-top:5px;}
    	.layui-btn {line-height: 22px;}
    	.layui-upload-choose {padding: 0 10px;color:red;font-size: 26px;vertical-align:bottom;}
    	/*.col-md-6 {max-width: 51%;}*/
    	.select2-container .select2-selection--single .select2-selection__rendered {padding-left:12px;color: #777;}
    	.comment-form button, .contact-form button {padding: 10px 10px;}
    	.layui-layer-btn .layui-layer-btn0 {border-color:#27ae60;background-color:#27ae60;color:white;}
    	.input-group {width: 100%;}
    	.pb-100 {padding-bottom: 25%;}
      </style>
   	  <script src="js/modules/jquery-3.4.1.min.js" th:src="@{/js/modules/jquery-3.4.1.min.js}"></script>
	  <script src="js/modules/bootstrap.min.js" th:src="@{/js/modules/bootstrap.min.js}"></script>
      <script src="js/layui.js" th:src="@{/js/layui.js}"></script>
      <script type="text/javascript" th:inline="javascript">
      
      $(function(){
      	$("#name").css({"border":"1px solid red"});
      	$("#age").css({"border":"1px solid red"});
      	$(".select2-container--default .select2-selection--single:eq(0)").css({"border":"1px solid red"});
      	$("#school").css({"border":"1px solid red"});
      	$("#phone").css({"border":"1px solid red"});
      	$("#location").css({"border":"1px solid red"});
      	/* .text("**红框为必输项!") */
        $("#s1").text("**").css({"color":"red","font-size":"26px"});
        $("#p1").text("红框为必输项!").css({"color":"red","margin-top":"-30px","margin-left":"22px"});
  	});
      
       /* layui初始化 */
       layui.use('layer', function(){
    	  var layer = layui.layer;
       }); 
      	
      	/*提交表单*/
      	function addInfo(){
      		var name = $("#name").val();
         	var age = $("#age").val();
         	var sex = $("#sex").val();
            var school = $("#school").val();
            var phone = $("#phone").val();
            var email = $("#email").val();
            var file = $("#upfile").val();
            
            if(typeof file == "undefined" || file == null || file == ""){
            	  layer.alert("附件不能为空",{icon:5});
            	  $("#location").css({"border-color":"red"});
          	      $("#location").attr('placeholder','请选择附件简历!');
            	  return;
              }else{
            	  $("#location").css({"border-color":"#D9D9D9"});
              }
              var fileSize = $("#upfile")[0].files[0].size/(1024*1024);
              if(fileSize>10){
              	 layer.alert("上传单个文件大小不能超过10MB!");
                  return;
              }
            
            if(typeof name == "undefined" || name == null || name == ""){
          	  layer.alert("名字不能为空",{icon:5});
          	  $("#name").css({"border-color":"red"});
          	  $("#name").attr('placeholder','请输入姓名!');
          	  return;
            } else{
          	  $("#name").css({"border-color":"#D9D9D9"});
            }
            if(typeof age == "undefined" || age == null || age == ""){
            	layer.alert("年龄不能为空",{icon:5});
            	  $("#age").css({"border-color":"red"});
            	  $("#age").attr('placeholder','请输入合法年龄!');
              return;
            }else{
            	if(age<=0 || age>=100 || isNaN(age)==true){
            		layer.alert("年龄不合法,请输入合法年龄!",{icon:5});
            		$("#age").css({"border-color":"red"});
              	    $("#age").attr('placeholder','请输入合法年龄!');
            	  return;
               }
          	  $("#age").css({"border-color":"#D9D9D9"});
            }
            if(typeof sex == "undefined" || sex == null || sex == ""){
            	  layer.alert("性别不能为空",{icon:5});
            	  /* $("#s1").css({"border":"1px solid red"}); */
            	  $(".select2-container--default .select2-selection--single:eq(0)").css({"border":"1px solid red"});
            	  return;
              }else{
            	  $(".select2-container--default .select2-selection--single").css({"border":"1px solid #D9D9D9"});
              }
            if(typeof school == "undefined" || school == null || school == ""){
            	  layer.alert("学校不能为空",{icon:5});
            	  $("#school").css({"border-color":"red"});
            	  $("#school").attr('placeholder','请输入学校!');
            	  return;
              } else{
            	  $("#school").css({"border-color":"#D9D9D9"});
              }
            if(typeof phone == "undefined" || phone == null || phone == ""){
            	  layer.alert("手机号不能为空",{icon:5});
            	  $("#phone").css({"border-color":"red"});
            	  $("#phone").attr('placeholder','请输入手机号!');
            	  return;
              } else{
            	  if(!checkPhone(phone)){
            		  layer.alert("手机号格式不对!",{icon:5});
                	  $("#phone").css({"border-color":"red"});
                	  $("#phone").attr('placeholder','请输入手机号!');
                	  return;
            	  }
            	  $("#phone").css({"border-color":"#D9D9D9"});
            	  $("#p1").text(" ");
              }
            /* if(typeof email == "undefined" || email == null || email == ""){
          	  layer.alert("邮箱不能为空",{icon:5});
          	  $("#email").css({"border-color":"red"});
          	  $("#email").attr('placeholder','请输入邮箱!');
          	  return;
            } else{
            	if(!checkEmail(email)){
            		layer.alert("邮箱格式不对!",{icon:5});
            		$("#email").css({"border-color":"red"});
                	$("#email").attr('placeholder','请输入邮箱!');
                	return;
            	}
        		$("#email").css({"border-color":"#D9D9D9"});
            } */
            
            
            
      		//alert("提交表单"); $('#addinfoform').serialize() 
      		var formData = new FormData($("[name='addinfoform']")[0]);
      		formData.append('upfile', $("#upfile")[0].files[0]);
      		$.ajax({
	             url:[[${#httpServletRequest.getContextPath()}]]+'/register/add',
	             type: 'post',
	             data:formData,
	             async:false,
				 cache: false, 
	             contentType: false, 
	             processData: false,
	             success: function(data) {
	            	 //alert(data.code=="100");
	            	 if(data.code=="100"){
	            		/*  layer.alert(data.message,{icon:6},time:10000);*/
	            		 layer.open({title: '提示', icon:'6', content:data.message,time:10000,end:function(){
	            			  parent.layer.closeAll();
	            			 window.location.href=[[${#httpServletRequest.getContextPath()}]]+"/jobInfo/joblist?cid="+[[${cid}]]+"&jobid="+[[${jobid}]];
	            		  }});
	            	 }else{ 
	            		 layer.alert(data.message,{icon:5}); 
	            	 }
	             },
	             error: function(data){
	            	 layer.alert("提交错误",{icon:5});
	             }
	              
	           });
      		
      	}
      	/* 验证邮箱 */
      	function checkEmail(str){
      	   var re = /^(\w-*\.*)+@(\w-?)+(\.\w{2,})+$/
	      	if(re.test(str)){
	      	return true;
	      	}else{
	      	return false;
	      	}
      	}
      	/* 验证手机号 */
      	function checkPhone(str){ 
    		var re = /^1[3456789]\d{9}$/
   	      	if(re.test(str)){
   	      	return true;
   	      	}else{
   	      	return false;
   	      	}
      	}
      	
      	
      	
      	function yanzheng(){
            sendyzm($("#second"));
        }
      	
        //用ajax提交到后台的发送短信接口
        function sendyzm(obj){
            var email = $("#email").val();
                $.ajax({
                    url:[[${#httpServletRequest.getContextPath()}]]+'/register/sendemail',
                    data:{"email":email},
                    dataType:"json",
                    type:"post",
                    async : false,
                    cache : false,
                    success:function(res){
                        $("#yzms").val(res.extend.yzms);
                    },
                    error:function(){
                        alert("验证码发送失败");
                    }
                });
                setTime(obj);//开始倒计时
         
        }
 
        //60s倒计时实现逻辑
        var countdown = 60;
        function setTime(obj) {
            if (countdown == 0) {
                obj.prop('disabled', false);
                obj.text("点击获取验证码");
                countdown = 60;//60秒过后button上的文字初始化,计时器初始化;
                return;
            } else {
                obj.prop('disabled', true);
                obj.text("("+countdown+"s)后重新发送") ;
                countdown--;
            }
            setTimeout(function() { setTime(obj) },1000) //每1000毫秒执行一次
        }

      	//
      

		/* function phoneClose(){
			document.activeElement.blur();
		} */
		/* var clientHeight = document.body.clientHeight;
	    var _focusElem = null; //输入框焦点
	    //利用捕获事件监听输入框等focus动作
	    document.body.addEventListener("focus", function(e) {
	        _focusElem = e.target || e.srcElement;
	    }, true);
	    //因为存在软键盘显示而屏幕大小还没被改变，所以以窗体（屏幕显示）大小改变为准
	    window.addEventListener("resize", function() {
	        if (_focusElem && document.body.clientHeight < clientHeight) {
	            //焦点元素滚动到可视范围的底部(false为底部，true为顶部)
	            _focusElem.scrollIntoView(false);
	        }
	    }); */
	
	    function onClick(){
	    	
	    	//window.scrollTo(0,0);
            $('#upfile').click();
            /* $('input').on('blur', function() {
                window.scroll(0, 0);
            }); */
           /*  setTimeout(() => {
                window.scrollTo(0, document.body.scrollTop + 1);
                document.body.scrollTop >= 1 && window.scrollTo(0, document.body.scrollTop - 1);  
            }, 10); */
            /* $(document).ready(function () {
            	　　$('body').height($('body')[0].clientHeight);
            }); */

	    }
	    
      </script>
      
    
</head>
   <body>
      <!--header-start -->
      <header class="header-area">
         <div class="container">
            <div class="row">
               <div class="col-lg-2">
                  <div class="logo">
                     <a><img class="img-responsive" src="images/logo.png" alt="image"  th:src="@{/images/logo.png}" style="width:100px;"/></a>
                  </div>
               </div>
               <div class="col-lg-10">
                  <div class="header-container d-flex justify-content-between highlight">
                     <nav class="highlight">
                        <ul id="responsive-menu" class="slimmenu" style="top:14px;">
                           <li><a class="nav-link" href="index.html" th:href="@{/jobInfo/joblist/(cid=${cid!=null?cid:''},jobid=${jobid!=null?jobid:''})}">首页</a></li>
                           <li class="nav-item"><a class="nav-link" href="about.html" th:href="@{/goabout/(cid=${cid!=null?cid:''},jobid=${jobid!=null?jobid:''})}">关于我们</a></li>
                        </ul>
                     </nav>
                  </div>
               </div>
            </div>
         </div>
      </header>
      <!--header-end -->
    <!-- <div class="header-banner pt-75 pb-75 clearfix" style="background-image:url(images/header-bg.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="banner-text text-center">
                        <h1>联系我们</h1>
                        <ul class="breadcumb list-inline">
							<li class="list-inline-item"><a href="index.html" th:href="@{/}">网站首页</a></li>
							<li class="list-inline-item">关于我们</li>
						</ul>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <main class="main-content-area">
        <div class="job-post-details-area pt-100 pb-100" style="padding-top: 0px;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="contact-wrapper">
                           
                            <div class="contact-form mt-2">
                                <div class="section-title inner-section" style="text-align: center;margin-top: 30px;">
                                    <h3>申请信息填写</h3>
                                </div>
                                <form  id="addinfoform" name="addinfoform" method="post" enctype="multipart/form-data">
                                    
                                    
                                    <!-- 2019.11.08 周五  新增 开始-->
                                   	<input type="hidden" name="cId" id="cId" th:value="${cid}"/>
                                   	<input type="hidden" name="jobId" id="jobId" th:value="${jobid}"/>
                                    <!-- 2019.11.08 周五  新增 结束开始-->
                                    <input type="text" placeholder="姓名" name="name" id="name" style="width:49%;"/>
                                    <input type="text" placeholder="年龄" name="age" id="age" style="width:49%;"/>
                                    
                                   
                                    <!--<input type="text" placeholder="性别" class="float-right"/>-->
                                    <div  style="margin:5px 0px;padding-left:0px;padding-right:2px;margin-right:0px;float:left;width:33%;">
                                         <!-- <span style="color: red;font-size: 30px;">*</span> -->
                                        <span style="position:absolute; overflow:hidden;width: 30%;border-radius: 5px;"> 
	                                    <select class="custom-multi-select" id="sex" name="sex" style="margin:-2;">
										<option value="" selected>性别</option>
										   <option value="0">男</option>
										   <option value="1">女</option> 
										</select>
										</span>
									</div>
									<!--<input type="text" placeholder="婚育" />-->
									<div  style="margin:5px 0px;padding-left:0px;padding-right:2px;margin-right:0px;float: left;width:33%;" >
										<select class="custom-multi-select" id="marriage" name="marriage" >
										   <option value="" selected>婚姻情况</option>
										   <option value="0">已婚</option>
										   <option value="1">未婚</option> 
										</select>
									</div>
									<div  style="margin:5px 0px;padding-left:0px;padding-right:2px;margin-right:0px;float: left;width:33%;" >
										<select class="custom-multi-select" id="education" name="education"  >
										   <option value="" selected>学历</option>
										   <option value="1">高中</option>
										   <option value="2">大专</option>
										   <option value="3">本科</option> 
										   <option value="4">研究生以上</option> 
										</select>
									</div>
									<input type="text" name="school" id="school" placeholder="学校" style="width:49%;"/>
									<input type="text" name="major" id="major" placeholder="专业"  style="width:49%;"/>
									<input type="text" name="phone" id="phone" placeholder="手机号"  style="width:49%;"/>
									<input type="text" name="email" id="email" placeholder="邮箱" style="width:49%;"/>
									<input type="text" name="nation" id="nation" placeholder="民族" style="width:49%;"/>
                                    <input type="text" name="workingyears" id="workingyears" placeholder="工作年限" style="width:49%;"/>
									<!-- <input type="file" name="upfile" id="upfile"/> -->
									<div class="input-group"><!-- onclick="$('#upfile').click();" -->
							           <input id='location' class="form-control" onclick="onClick();" placeholder="选择附件简历" >
							           <label class="input-group-btn"><!--  -->
							               <input type="button" id="i-check" value="浏览文件" class="btn btn-primary" onclick="onClick();">
							           </label>
							       </div>
							        <input type="file" name="upfile" id='upfile' onchange="$('#location').val($('#upfile').val());" style="display: none">
									 <!-- <div style="width:100%"><i style="float:left;">**</i><p style="float:left;">红框为必输项!</p></div> -->
									 <span id="s1"></span><p id="p1"></p>
                                    <button type="button" class="btn-c buttonfx curtainup" onclick="addInfo();">提交申请</button><!-- history.back(); javascrtpt:window.location.href='/';-->
                                    <button type="button" class="btn-c buttonfx curtainup" id="" onclick="javascrtpt:history.back();">返回</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-lg-4 col-md-5">
                        <div class="right-sidebar">
                           
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </main>
    <!--footer-area-start -->
      <footer style="margin-bottom: 0px;">
         
         <div class="footer-bottom-area clearfix">
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                     <div class="footer-bottom text-center">
                        <p>Copyright &copy; 2019.Company HLS All rights reserved.</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </footer>
      <!--footer-area-end -->
      <!-- ==================== START PRELOADER HERE ===================================== -->
      <div class="preloader" id="preloader">
         <div class="lds-ripple">
            <div></div>
            <div></div>
         </div>
      </div>
       <!-- ==================== END PRELOADER HERE ===================================== -->		
      <!-- ====================ALL JS FILE HERE===================================== -->
      <!-- jQuery -->
	  
	  <script src="js/modules/proper.js" th:src="@{/js/modules/proper.js}"></script>
	  <script src="js/modules/jquery.waypoints.min.js" th:src="@{/js/modules/query.waypoints.min.js}"></script>
	  <script src="js/modules/owl.carousel.min.js" th:src="@{/js/modules/owl.carousel.min.js}"></script>
	  <script src="js/modules/magnific.min.js" th:src="@{/js/modules/magnific.min.js}"></script>
	  <script src="js/modules/typing.min.js" th:src="@{/js/modules/typing.min.js}"></script>
	  <script src="js/modules/select2.min.js" th:src="@{/js/modules/select2.min.js}"></script>
	  <script src="js/modules/aos.min.js" th:src="@{/js/modules/aos.min.js}"></script>
	  <script src="js/modules/slimmenu.min.js" th:src="@{/js/modules/slimmenu.min.js}"></script>
	  <script src="js/app.js" th:src="@{/js/app.js}"></script> 
	  
   </body>
</html>

